/*@media screen and (min-width: 1280px) {*/

    :root{
        --contentMenuColumns: 5;
        --contentMenuRows: 2;
    }
    #pageFrame{
        width:1280px;
        height:1080px;
        background-color: lightgrey;
    }
        #mainMenuFrame{
            float:left;
            width:15%;
            height:100%;
            background-color: #222222;
        }
        #contentFrame{
            float:right;
            height:100%;
            width:85%;
        }
            #contentMenu{
                height:120px;
                background-color: #101C28;
            }
                .contentMenu_replaceAbleMenu{
                    width:100%;
                    height:100%;
                    font-family: "Trebuchet MS", Helvetica, sans-serif;
                    display: inline-grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr 20px;
                }
                    /* Content Elements Locations  */
                    #User_Sort_FromSomething{
                        background-color: blue;
                        grid-column:1/3;
                        grid-row:2/3;
                    }
                        ._2x2Grid{
                            display: inline-grid;
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: 1fr 1fr;
                          }
                            ._2x2Grid .contentMenu_element:nth-child(1){
                                grid-column:1/2;
                                grid-row:1/2;
                                background-color: lightgrey;
                            }
                            ._2x2Grid .contentMenu_element:nth-child(2){
                                grid-column:2/3;
                                grid-row:1/2;
                                background-color: cadetblue;
                            }
                            ._2x2Grid .contentMenu_element:nth-child(3){
                                grid-column:1/2;
                                grid-row:2/3;
                                background-color: seagreen;
                            }
                            ._2x2Grid .contentMenu_element:nth-child(4){
                                grid-column:2/3;
                                grid-row:2/3;
                                background-color: cornflowerblue;
                            }
                            /* User Menu Cases  */
                            .contentMenu_slider{
                                margin:5% 0 0 0;
                            }
                            .contentMenu_element_label{
                                font-size: 10pt;
                                text-align: left;
                                line-height: 1.5;
                            }


                    #User_Sort_FromCategorySearch{
                        background-color: red;
                        grid-column:4/6;
                        grid-row:2/3;
                    }
                #categoricalHeaderTable{
                    background-color: #fcefa1;
                    grid-column:1/6;
                    grid-row:3/4;
                }

    /* U*/

/*}*/