#dto-table-container{
    width:100%;
    height:auto;
}
    .DTO_Table_Row{
        width: 100%;
        height:50px;
        background-color: lightgrey;
        border:1px solid black;


    }
    .DTO_Table_Row td{
        float:left;
        text-align: center;
    }
    .dto-table-RowBeneath-field{
        width:150px;
        background-color: darkslateblue;
        border-radius: 2px;
        border:1px solid black;
        float:left;
    }
        .dto-table-RowBeneath-field *{
            float:left;
        }